In [32]:
import pandas as pd
import numpy as np
surveys=pd.read_csv("./course-files/StackOverflowDeveloperSurvey2018.csv",usecols=['Country','Gender','OperatingSystem'],low_memory=False)
surveys.head()

          Country OperatingSystem Gender
0           Kenya     Linux-based   Male
1  United Kingdom     Linux-based   Male
2   United States             NaN    NaN
3   United States         Windows   Male
4    South Africa         Windows   Male

In [2]:
surveys['Country'].is_unique

False

In [13]:
surveys['Country'].nunique()

183

In [15]:
surveys['Country'].dropna().nunique()

183

In [9]:
surveys['Country'].drop_duplicates().head()

0             Kenya
1    United Kingdom
2     United States
4      South Africa
7           Nigeria
Name: Country, dtype: object

In [10]:
len(surveys['Country'].drop_duplicates())

184

In [11]:
len(surveys['Country'].drop_duplicates().dropna())

183

In [18]:
duplicatesKeepFirst=surveys['Country'].duplicated()

In [19]:
duplicatesKeepFirst.head()

0    False
1    False
2    False
3     True
4    False
Name: Country, dtype: bool

In [22]:
surveys[~duplicatesKeepFirst].head()

          Country OperatingSystem  Gender
0           Kenya     Linux-based    Male
1  United Kingdom     Linux-based    Male
2   United States             NaN     NaN
4    South Africa         Windows    Male
7         Nigeria         Windows  Female

In [23]:
len(surveys[~duplicatesKeepFirst])

184

In [33]:
surveys.drop_duplicates(['Country','OperatingSystem'],inplace=True)

In [30]:
surveys[surveys['Country']=='Poland']

      Country OperatingSystem Gender
30     Poland     Linux-based   Male
34     Poland         Windows   Male
232    Poland             NaN    NaN
854    Poland           MacOS   Male
72587  Poland        BSD/Unix    NaN

In [34]:
surveys.query("Country=='Poland'")

      Country OperatingSystem Gender
30     Poland     Linux-based   Male
34     Poland         Windows   Male
232    Poland             NaN    NaN
854    Poland           MacOS   Male
72587  Poland        BSD/Unix    NaN