In [1]:
import pandas as pd
import numpy as np
fuel=pd.read_csv("./course-files/fuel.csv",low_memory=False,usecols=['Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)','Start Stop Technology'],index_col='Vehicle ID')
fuel.head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1),Start Stop Technology
Vehicle ID,,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0,NaN
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0,NaN
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0,NaN
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0,NaN
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0,NaN

In [3]:
listOfCars=['Reanult','Toyota','Ford']
isInList=fuel['Make'].isin(listOfCars)
isInList.head()

Vehicle ID
26587    False
27705    False
26561    False
27681    False
27550    False
Name: Make, dtype: bool

In [10]:
fuel[isInList].head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1),Start Stop Technology
Vehicle ID,,,,,,,
27613,1984,Ford,Bronco 4WD,Special Purpose Vehicle 4WD,Regular,13.0,NaN
27616,1984,Ford,Bronco 4WD,Special Purpose Vehicle 4WD,Regular,11.0,NaN
27619,1984,Ford,Bronco 4WD,Special Purpose Vehicle 4WD,Regular,10.0,NaN
27622,1984,Ford,Bronco 4WD,Special Purpose Vehicle 4WD,Regular,11.0,NaN
28472,1984,Ford,Bronco 4WD,Special Purpose Vehicle 4WD,Regular,13.0,NaN

In [7]:
isNoStartStopDefined=fuel['Start Stop Technology'].isnull()
isNoStartStopDefined.head()

Vehicle ID
26587    True
27705    True
26561    True
27681    True
27550    True
Name: Start Stop Technology, dtype: bool

In [9]:
fuel[isNoStartStopDefined].head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1),Start Stop Technology
Vehicle ID,,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0,NaN
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0,NaN
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0,NaN
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0,NaN
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0,NaN

In [12]:
isStartStopDefined=fuel['Start Stop Technology'].notnull()
isStartStopDefined.head()

Vehicle ID
26587    False
27705    False
26561    False
27681    False
27550    False
Name: Start Stop Technology, dtype: bool

In [13]:
fuel[isStartStopDefined].head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1),Start Stop Technology
Vehicle ID,,,,,,,
30976,1998,Chevrolet,S10 Electric,Small Pickup Trucks 2WD,Electricity,55.0,N
30977,1998,Chevrolet,S10 Electric,Small Pickup Trucks 2WD,Electricity,28.0,N
30975,1998,Honda,EV Plus,Compact Cars,Electricity,48.0,N
30973,1999,Dodge,Caravan/Grand Caravan 2WD,Minivan - 2WD,Electricity,35.0,N
30971,1999,Ford,Ranger Pickup 2WD,Standard Pickup Trucks 2WD,Electricity,58.0,N

In [14]:
mpg50_60=fuel['Combined MPG (FT1)'].between(50,60)
mpg50_60.head()

Vehicle ID
26587    False
27705    False
26561    False
27681    False
27550    False
Name: Combined MPG (FT1), dtype: bool

In [15]:
fuel[mpg50_60].head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1),Start Stop Technology
Vehicle ID,,,,,,,
30976,1998,Chevrolet,S10 Electric,Small Pickup Trucks 2WD,Electricity,55.0,N
30971,1999,Ford,Ranger Pickup 2WD,Standard Pickup Trucks 2WD,Electricity,58.0,N
30966,2000,Ford,Ranger Pickup 2WD,Standard Pickup Trucks 2WD,Electricity,58.0,N
30967,2000,Ford,Ranger Pickup 2WD,Standard Pickup Trucks 2WD,Electricity,56.0,N
15606,2000,Honda,Insight,Two Seaters,Regular,53.0,Y

In [16]:
print("There are",len(fuel[isInList]),"cars within the list",listOfCars)

There are 4320 cars within the list ['Reanult', 'Toyota', 'Ford']

In [17]:
print("There are",len(fuel[isNoStartStopDefined]),"cars where Start/Stop technology is not determined")

There are 31374 cars where Start/Stop technology is not determined

In [18]:
print("There are",len(fuel[isStartStopDefined]),"cars where Stop/Stop technology is determined")

There are 310 cars where Stop/Stop technology is determined

In [19]:
print("There are",len(fuel[mpg50_60]),"cars with MPG value between 50 and 60")

There are 13 cars with MPG value between 50 and 60

In [20]:
#other way

print('There are %d cars within the list %s' % (len(fuel[isInList]), listOfCars))

There are 4320 cars within the list ['Reanult', 'Toyota', 'Ford']