In [2]:
import pandas as pd
import numpy as np
suppliers=pd.read_csv("./course-files/northwind-mongo-master/suppliers.csv",usecols=['SupplierID','CompanyName','City'])
products=pd.read_csv("./course-files/northwind-mongo-master/products_del_2.csv",usecols=['ProductID','ProductName','SupplierID'])

In [3]:
suppliers.head()

   SupplierID                         CompanyName         City
0           1                      Exotic Liquids       London
1           2          New Orleans Cajun Delights  New Orleans
2           3           Grandma Kelly's Homestead    Ann Arbor
3           4                       Tokyo Traders        Tokyo
4           5  Cooperativa de Quesos 'Las Cabras'       Oviedo

In [4]:
products.head()

   ProductID                      ProductName  SupplierID
0          1                             Chai           1
1          2                            Chang           1
2          6     Grandma's Boysenberry Spread           3
3          7  Uncle Bob's Organic Dried Pears           3
4          8       Northwoods Cranberry Sauce           3

In [5]:
sup_prod=suppliers.merge(products,on='SupplierID',indicator=True)

In [6]:
print(len(suppliers))
print(len(products))
print(len(sup_prod))

29
68
68

In [7]:
sup_prod_left=suppliers.merge(products,on='SupplierID',how='left',indicator=True)
sup_prod_left.head()

,SupplierID,CompanyName,City,ProductID,ProductName,_merge
0,1,Exotic Liquids,London,1.0,Chai,both
1,1,Exotic Liquids,London,2.0,Chang,both
2,2,New Orleans Cajun Delights,New Orleans,NaN,NaN,left_only
3,3,Grandma Kelly's Homestead,Ann Arbor,6.0,Grandma's Boysenberry Spread,both
4,3,Grandma Kelly's Homestead,Ann Arbor,7.0,Uncle Bob's Organic Dried Pears,both

In [8]:
print(len(suppliers))
print(len(products))
print(len(sup_prod_left))

29
68
70

In [9]:
sup_prod_left[sup_prod_left['_merge']=='left_only']

,SupplierID,CompanyName,City,ProductID,ProductName,_merge
2,2,New Orleans Cajun Delights,New Orleans,NaN,NaN,left_only
67,27,Escargots Nouveaux,Montceau,NaN,NaN,left_only

In [13]:
sup_prod_right=products.merge(suppliers,on='SupplierID',how='right',indicator=True)
sup_prod_right.head()

,ProductID,ProductName,SupplierID,CompanyName,City,_merge
0,1.0,Chai,1,Exotic Liquids,London,both
1,2.0,Chang,1,Exotic Liquids,London,both
2,NaN,NaN,2,New Orleans Cajun Delights,New Orleans,right_only
3,6.0,Grandma's Boysenberry Spread,3,Grandma Kelly's Homestead,Ann Arbor,both
4,7.0,Uncle Bob's Organic Dried Pears,3,Grandma Kelly's Homestead,Ann Arbor,both

In [14]:
print(len(suppliers))
print(len(products))
print(len(sup_prod_left))

29
68
70

In [15]:
sup_prod_right[sup_prod_right['_merge']=='right_only']

,ProductID,ProductName,SupplierID,CompanyName,City,_merge
2,NaN,NaN,2,New Orleans Cajun Delights,New Orleans,right_only
67,NaN,NaN,27,Escargots Nouveaux,Montceau,right_only