In [1]:
import pandas as pd
import numpy as np
products=pd.read_csv("./course-files/northwind-mongo-master/products.csv")

In [5]:
products[products['ProductName']=='Ravioli Angelo']

,ProductID,ProductName,SupplierID,CategoryID,QuantityPerUnit,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued
56,57,Ravioli Angelo,26,5,24 - 250 g pkgs.,19.5,36,0,20,0

In [12]:
products.loc[products['ProductName']=='Ravioli Angelo']

,ProductID,ProductName,SupplierID,CategoryID,QuantityPerUnit,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued
56,57,Ravioli Angelo,26,5,24 - 250 g pkgs.,19.5,36,0,20,0

In [6]:
categories=pd.read_csv("./course-files/northwind-mongo-master/categories1.csv")

In [9]:
categories[categories['CategoryID']==5]

   CategoryID    CategoryName Description
4           5  Grains/Cereals      Breads

In [13]:
categories.loc[categories['CategoryID']==5]

   CategoryID    CategoryName Description
4           5  Grains/Cereals      Breads

In [10]:
suppliers=pd.read_csv("./course-files/northwind-mongo-master/suppliers.csv")

In [11]:
suppliers[suppliers['SupplierID']==26]

,SupplierID,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,Fax,HomePage
25,26,Pasta Buttini s.r.l.,Giovanni Giudici,Order Administrator,Via dei Gelsomini 153,Salerno,NaN,84100,Italy,(089) 6547665,(089) 6547667,NaN

In [14]:
suppliers.loc[suppliers['SupplierID']==26]

,SupplierID,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,Fax,HomePage
25,26,Pasta Buttini s.r.l.,Giovanni Giudici,Order Administrator,Via dei Gelsomini 153,Salerno,NaN,84100,Italy,(089) 6547665,(089) 6547667,NaN