In [18]:
import pandas as pd
import numpy as np
customer_names=pd.read_csv("./course-files/northwind-mongo-master/customers.csv",usecols=['CustomerID','CompanyName'])
customer_cities=pd.read_csv("./course-files/northwind-mongo-master/customers.csv",usecols=['CustomerID','City','Country'])
customer_names.head()

  CustomerID                         CompanyName
0      ALFKI                 Alfreds Futterkiste
1      ANATR  Ana Trujillo Emparedados y helados
2      ANTON            Antonio Moreno Taquer?­a
3      AROUT                     Around the Horn
4      BERGS                 Berglunds snabbk?¶p

In [19]:
customer_cities.head()

  CustomerID          City  Country
0      ALFKI        Berlin  Germany
1      ANATR  M?©xico D.F.   Mexico
2      ANTON  M?©xico D.F.   Mexico
3      AROUT        London       UK
4      BERGS        Lule??   Sweden

In [20]:
len(customer_names)

91

In [21]:
len(customer_cities)

91

In [22]:
customer_names.set_index('CustomerID',inplace=True)
customer_cities.set_index('CustomerID',inplace=True)
customer_names.head()

                                   CompanyName
CustomerID
ALFKI                      Alfreds Futterkiste
ANATR       Ana Trujillo Emparedados y helados
ANTON                 Antonio Moreno Taquer?­a
AROUT                          Around the Horn
BERGS                      Berglunds snabbk?¶p

In [23]:
customer_cities.head()

                    City  Country
CustomerID
ALFKI             Berlin  Germany
ANATR       M?©xico D.F.   Mexico
ANTON       M?©xico D.F.   Mexico
AROUT             London       UK
BERGS             Lule??   Sweden

In [24]:
customer_names.join(customer_cities).head()

                                   CompanyName          City  Country
CustomerID
ALFKI                      Alfreds Futterkiste        Berlin  Germany
ANATR       Ana Trujillo Emparedados y helados  M?©xico D.F.   Mexico
ANTON                 Antonio Moreno Taquer?­a  M?©xico D.F.   Mexico
AROUT                          Around the Horn        London       UK
BERGS                      Berglunds snabbk?¶p        Lule??   Sweden

In [25]:
customer_names.reset_index(inplace=True)

In [26]:
customer_names.join(customer_cities,on='CustomerID').head()

  CustomerID                         CompanyName          City  Country
0      ALFKI                 Alfreds Futterkiste        Berlin  Germany
1      ANATR  Ana Trujillo Emparedados y helados  M?©xico D.F.   Mexico
2      ANTON            Antonio Moreno Taquer?­a  M?©xico D.F.   Mexico
3      AROUT                     Around the Horn        London       UK
4      BERGS                 Berglunds snabbk?¶p        Lule??   Sweden