In [1]:
import pandas as pd

In [21]:
programmers=pd.read_csv("./course-files/StackOverflowDeveloperSurvey2018.csv",low_memory=False,usecols=['ConvertedSalary'],squeeze=True)
programmers.head()

0        NaN
1    70841.0
2        NaN
3        NaN
4    21426.0
Name: ConvertedSalary, dtype: float64

In [22]:
programmers.mean()

95780.86178776571

In [23]:
programmers.median()

55075.0

In [7]:
programmers.std()

202348.21562528735

In [8]:
programmers.max()

2000000.0

In [24]:
fortune500=pd.read_csv("./course-files/Fortune_500_2017.csv",usecols=['Title','Employees'],index_col='Title')
fortune500.head()

                    Employees
Title
Walmart               2300000
Berkshire Hathaway     367700
Apple                  116000
Exxon Mobil             72700
McKesson                68000

In [25]:
fortune500.idxmax()

Employees    Walmart
dtype: object

In [26]:
fortune500.loc[fortune500.idxmax()]

         Employees
Title
Walmart    2300000

In [27]:
fortune500.idxmin()

Employees    A-Mark Precious Metals
dtype: object

In [28]:
fortune500.loc[fortune500.idxmin()]

                        Employees
Title
A-Mark Precious Metals         83