In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [10]:
salary=pd.read_csv("./course-files/StackOverflowDeveloperSurvey.csv",usecols=['Salary'],squeeze=True).dropna()
salary.head()

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary, dtype: float64

In [11]:
type(salary)

pandas.core.series.Series

In [12]:
salary.sort_values().head()

51144    0.0
23953    0.0
23907    0.0
44841    0.0
2951     0.0
Name: Salary, dtype: float64

In [14]:
salary.sort_values(ascending=False).head()

31600    197000.0
27943    195000.0
6743     195000.0
18237    195000.0
41398    195000.0
Name: Salary, dtype: float64

In [16]:
salary.sort_values(ascending=False,inplace=True)

In [17]:
salary.head()

31600    197000.0
27943    195000.0
6743     195000.0
18237    195000.0
41398    195000.0
Name: Salary, dtype: float64

In [19]:
salary.sort_index(ascending=False).head()

51390     40000.000000
51387     58000.000000
51382     32258.064516
51378    107526.881720
51371     74193.548387
Name: Salary, dtype: float64

In [21]:
maxSalaries=salary.head(100)

In [22]:
minSalaries=salary.tail(100)

In [23]:
maxSalaries.mean()

180198.1045586777

In [24]:
minSalaries.mean()

67.08388907133794