In [1]:
import pandas as pd
import math as math
import matplotlib.pyplot as plt
import numpy as np

In [2]:
namesList=['Albania','Austria','Belarus',
           'Belgium','Bulgaria','Croatia','Cyprus','Czech Republic','Denmark','Estonia',
           'Finland','France','Germany','Greece','Hungary','Iceland','Ireland','Italy',
           'Latvia','Lithuania','Luxembourg','Macedonia','Malta','Montenegro','Netherlands',
           'Norway','Poland','Portugal','Romania','Russia','Serbia','Slovenia','Spain', 'Sweden',
           'Switzerland','United Kingdom','Turkey','Ukraine']

energy2010List=[1947,8347,3564,8369,4560,3814,4623,6348,6328,6506,16483,7736,7264,5318,3876,
                51440,5911,5494,3230,3471,16830,3521,4171,5420,7010,24891,3797,4959,2551,
                6410,4359,6521,5707,14934,8175,2498,3550,5701]

energy2012List=[2118,8507,3698,7987,4762,3819,4057,6305,6039,6689,15687,7344,7270,5511,3919,
                53203,5665,5398,3588,3608,14696,3626,4761,5416,6871,23658,3899,4736,2604,
                6617,4387,6778,5573,14290,7886,2794,3641,5452]

In [3]:
namesSeries=pd.Series(namesList)
namesSeries

0            Albania
1            Austria
2            Belarus
3            Belgium
4           Bulgaria
5            Croatia
6             Cyprus
7     Czech Republic
8            Denmark
9            Estonia
10           Finland
11            France
12           Germany
13            Greece
14           Hungary
15           Iceland
16           Ireland
17             Italy
18            Latvia
19         Lithuania
20        Luxembourg
21         Macedonia
22             Malta
23        Montenegro
24       Netherlands
25            Norway
26            Poland
27          Portugal
28           Romania
29            Russia
30            Serbia
31          Slovenia
32             Spain
33            Sweden
34       Switzerland
35    United Kingdom
36            Turkey
37           Ukraine
dtype: object

In [4]:
energy2010Series=pd.Series(energy2010List)
energy2010Series

0      1947
1      8347
2      3564
3      8369
4      4560
5      3814
6      4623
7      6348
8      6328
9      6506
10    16483
11     7736
12     7264
13     5318
14     3876
15    51440
16     5911
17     5494
18     3230
19     3471
20    16830
21     3521
22     4171
23     5420
24     7010
25    24891
26     3797
27     4959
28     2551
29     6410
30     4359
31     6521
32     5707
33    14934
34     8175
35     2498
36     3550
37     5701
dtype: int64

In [5]:
energy2012Series=pd.Series(energy2012List)
energy2012Series

0      2118
1      8507
2      3698
3      7987
4      4762
5      3819
6      4057
7      6305
8      6039
9      6689
10    15687
11     7344
12     7270
13     5511
14     3919
15    53203
16     5665
17     5398
18     3588
19     3608
20    14696
21     3626
22     4761
23     5416
24     6871
25    23658
26     3899
27     4736
28     2604
29     6617
30     4387
31     6778
32     5573
33    14290
34     7886
35     2794
36     3641
37     5452
dtype: int64

In [7]:
mean2010=energy2010Series.mean()
mean2010

7779.8421052631575

In [8]:
mean2012=energy2012Series.mean()
mean2012

7706.815789473684

In [10]:
filterAboveMean2010=mean2010<energy2010Series
filterAboveMean2010

0     False
1      True
2     False
3      True
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11    False
12    False
13    False
14    False
15     True
16    False
17    False
18    False
19    False
20     True
21    False
22    False
23    False
24    False
25     True
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33     True
34     True
35    False
36    False
37    False
dtype: bool

In [12]:
filterAboveMean2012=energy2012Series>mean2012
filterAboveMean2012

0     False
1      True
2     False
3      True
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11    False
12    False
13    False
14    False
15     True
16    False
17    False
18    False
19    False
20     True
21    False
22    False
23    False
24    False
25     True
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33     True
34     True
35    False
36    False
37    False
dtype: bool

In [14]:
namesSeries.where(filterAboveMean2010 & filterAboveMean2012).dropna()

1         Austria
3         Belgium
10        Finland
15        Iceland
20     Luxembourg
25         Norway
33         Sweden
34    Switzerland
dtype: object

In [15]:
filterBelowMean2010=energy2010Series<mean2010
filterBelowMean2010

0      True
1     False
2      True
3     False
4      True
5      True
6      True
7      True
8      True
9      True
10    False
11     True
12     True
13     True
14     True
15    False
16     True
17     True
18     True
19     True
20    False
21     True
22     True
23     True
24     True
25    False
26     True
27     True
28     True
29     True
30     True
31     True
32     True
33    False
34    False
35     True
36     True
37     True
dtype: bool

In [16]:
namesSeries.where(filterBelowMean2010 & filterAboveMean2012).dropna()

Series([], dtype: object)