## Numpy

### Spis treści:
* [Import biblioteki](#0)
* [Ćwiczenie 51](#1)
* [Ćwiczenie 52](#2)
* [Ćwiczenie 53](#3)
* [Ćwiczenie 54](#4)
* [Ćwiczenie 55](#5)
* [Ćwiczenie 56](#6)
* [Ćwiczenie 57](#7)
* [Ćwiczenie 58](#8)
* [Ćwiczenie 59](#9)
* [Ćwiczenie 60](#10)

### <a name='0'></a>Import biblioteki

In [ ]:
import numpy as np

np.random.seed(42)
np.__version__

'1.21.6'

### <a name='1'></a> Ćwiczenie 51
Podane są poniżej dwie tablice $A$ i $B$:


```
A = np.array([[3, 4, 5],
              [8, 3, 1]])
B = np.array([[0, 5, 2],
              [4, 2, 1]])
```
* Połącz te tablice w następujący sposób:


```
array([[3, 4, 5],
       [8, 3, 1],
       [0, 5, 2],
       [4, 2, 1]])
```
__Wskazówka:__ Wykorzystaj funkcję _np.concatenate()_.

In [ ]:
A = np.array([[3, 4, 5],
              [8, 3, 1]])
B = np.array([[0, 5, 2],
              [4, 2, 1]])
np.concatenate((A,B))

array([[3, 4, 5],
       [8, 3, 1],
       [0, 5, 2],
       [4, 2, 1]])

* Połącz te tablice w następujący sposób:


```
array([[3, 4, 5, 0, 5, 2],
       [8, 3, 1, 4, 2, 1]])
```
__Wskazówka:__ Wykorzystaj funkcję _np.concatenate()_.

In [ ]:
np.concatenate((A,B), axis=1)

array([[3, 4, 5, 0, 5, 2],
       [8, 3, 1, 4, 2, 1]])

### <a name='2'></a> Ćwiczenie 52
Podana jest tablica zawierająca dane _data_ oraz tablica zawierająca docelową klasę dla danego wiersza _target_:

```
data = np.array([[4.3, 4.2],
                 [3.1, 3.6]])
target = np.array([[0],
                   [1]])
```

Połącz te tablice w jedną tak jak pokazano poniżej:


```
array([[4.3, 4.2, 0. ],
       [3.1, 3.6, 1. ]])
```

In [ ]:
data = np.array([[4.3, 4.2],
                 [3.1, 3.6]])
target = np.array([[0],
                   [1]])
np.concatenate((data, target), axis=1)

array([[4.3, 4.2, 0. ],
       [3.1, 3.6, 1. ]])

### <a name='3'></a> Ćwiczenie 53
Podane są trzy poniższe jednowymiarowe tablice:  


```
feature1 = np.array([1.6, 0.9, 2.2])
feature2 = np.array([0.4, 1.3, 3.2])
feature3 = np.array([1.4, 0.3, 1.2])
```
Przekształć każdą z tych tablic w kolumnę i sklej w jedną dużą tablicę.

__Oczekiwany wynik:__


```
array([[1.6, 0.4, 1.4],
       [0.9, 1.3, 0.3],
       [2.2, 3.2, 1.2]])
```

__Wskazówka:__ Wykorzystaj funkcję _np.column_stack()_.

In [ ]:
feature1 = np.array([1.6, 0.9, 2.2])
feature2 = np.array([0.4, 1.3, 3.2])
feature3 = np.array([1.4, 0.3, 1.2])
np.column_stack((feature1,feature2,feature3))

array([[1.6, 0.4, 1.4],
       [0.9, 1.3, 0.3],
       [2.2, 3.2, 1.2]])

### <a name='4'></a> Ćwiczenie 54
Podana jest poniższa dwuwymiarowa tablica:

```
A = np.random.randint(low=0, high=7, size=(5, 8))
A[:, :2] = 0
A[:, -2:] = 1
A
```
```
array([[0, 0, 4, 6, 2, 4, 1, 1],
       [0, 0, 6, 2, 2, 4, 1, 1],
       [0, 0, 1, 3, 5, 5, 1, 1],
       [0, 0, 3, 1, 5, 4, 1, 1],
       [0, 0, 2, 6, 1, 3, 1, 1]])
```

Podziel tablicę na 3 części tak aby pierwsze dwie kolumny stanowiły pierwszą tablicę $A1$, cztery kolejne drugą tablicę $A2$ oraz dwie ostatnie trzecią tablicę $A3$.

__Wskazówka:__ Wykorzystaj funkcję _np.split()_.

In [ ]:
A = np.random.randint(low=0, high=7, size=(5, 8))
A[:, :2] = 0
A[:, -2:] = 1
A

array([[0, 0, 6, 5, 2, 3, 1, 1],
       [0, 0, 4, 2, 6, 4, 1, 1],
       [0, 0, 0, 3, 5, 1, 1, 1],
       [0, 0, 1, 3, 3, 6, 1, 1],
       [0, 0, 6, 2, 5, 0, 1, 1]])

In [ ]:
A1, A2, A3 = np.split(A, (2,6), axis=1)

for name, array in zip(list('123'), [A1, A2, A3]):
  print(f'{name}: {array}')
  print()

1: [[0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]]

2: [[6 5 2 3]
 [4 2 6 4]
 [0 3 5 1]
 [1 3 3 6]
 [6 2 5 0]]

3: [[1 1]
 [1 1]
 [1 1]
 [1 1]
 [1 1]]

### <a name='5'></a> Ćwiczenie 55
Podana jest poniższa tablica $A$:

```
A = np.random.randint(low=0, high=2, size=(10, 6))
```
Wyznacz łączną liczbę elementów niezerowych dla tej tablicy.

__Wskazówka:__ Wykorzystaj funkcję _np.count_nonzero()_.

In [ ]:
A

array([[1, 1, 1, 1, 0, 1],
       [0, 1, 0, 1, 1, 1],
       [1, 0, 1, 0, 0, 0],
       [0, 1, 0, 0, 0, 1],
       [1, 1, 1, 0, 0, 1],
       [0, 0, 0, 1, 1, 0],
       [1, 1, 1, 1, 1, 0],
       [1, 0, 0, 1, 0, 0],
       [0, 1, 1, 0, 1, 1],
       [1, 1, 0, 0, 1, 1]])

In [ ]:

np.count_nonzero(A)

34

In [ ]:
A = np.random.randint(low=0, high=2, size=(10, 6))

array([[1, 1, 1, 1, 0, 1],
       [0, 1, 0, 1, 1, 1],
       [1, 0, 1, 0, 0, 0],
       [0, 1, 0, 0, 0, 1],
       [1, 1, 1, 0, 0, 1],
       [0, 0, 0, 1, 1, 0],
       [1, 1, 1, 1, 1, 0],
       [1, 0, 0, 1, 0, 0],
       [0, 1, 1, 0, 1, 1],
       [1, 1, 0, 0, 1, 1]])

Wyznacz łączną liczbę elementów niezerowych dla każdego wiersza tej tablicy.

__Wskazówka:__ Wykorzystaj funkcję _np.count_nonzero()_.

In [ ]:
np.count_nonzero(A, axis=1)

array([5, 4, 2, 2, 4, 2, 5, 2, 4, 4])

### <a name='6'></a> Ćwiczenie 56
Poniżej podana jest przykładowa tablica $A$:

```
A = np.random.randn(10, 4)
```

```
array([[-0.53441645, -1.49505387, -0.78925833,  0.74371128],
       [-0.21216142, -0.42686879,  0.50144833,  1.15818665],
       [ 0.25711687,  0.3145129 ,  1.37186213,  0.17555329],
       [-0.30928855,  0.6731255 , -0.25663018, -0.36782572],
       [ 1.27373362, -0.29195267, -2.65517605,  0.34551794],
       [-0.39551645, -0.28913686,  0.45293633, -0.16606091],
       [ 0.21493883, -2.02231493, -0.94305681,  1.40395874],
       [-0.0185508 , -1.67350462, -1.07253183, -0.99258618],
       [ 0.10234768, -0.43260928, -0.6591823 ,  0.0039373 ],
       [ 0.4777541 , -0.25902864, -0.57470921, -0.42149822]])
```


Ustaw odopowiednią opcję biblioteki numpy pozwalającą drukować tablice z określoną precyzją. Ustaw jej wartość na 4 i wydrukuj tablicę $A$.

In [ ]:
A = np.random.randn(10, 5)
np.set_printoptions(precision=4)
A

array([[ 2.2758,  0.4062, -0.4319,  1.86  ,  1.2004],
       [ 1.8161, -0.1109,  0.9763, -1.4528,  0.784 ],
       [-0.1577, -1.3551,  1.0326, -1.8101, -1.9127],
       [ 0.3625,  0.5713,  0.9705,  0.742 ,  1.4767],
       [ 0.7002, -0.1323, -0.0736, -0.2822,  0.2955],
       [-1.0973,  0.3409, -0.0864,  0.2756,  0.2787],
       [-2.4523, -0.9013, -0.1086, -0.0555,  0.2594],
       [ 0.3023,  1.5162,  0.3125, -0.313 , -1.5991],
       [-1.3686,  0.5355,  1.0604,  1.5414, -0.8279],
       [-0.3039,  0.2423,  2.0474,  0.1149,  1.5513]])

### <a name='7'></a> Ćwiczenie 57
Podana jest poniższa tablica numpy $A$:

```
A = np.array([1.2e-6, 1.7e-7])
```

Ustaw wartość precyzji na 8. Następnie ustaw odopowiednią opcję biblioteki numpy pozwalającą stłumić notację wykładniczą. Wydrukuj tablicę $A$.

__Oczekiwany wynik:__


```
array([0.0000012 , 0.00000017])
```

In [ ]:
A = np.array([1.2e-6, 1.7e-7])
np.set_printoptions(precision=8, suppress=True)
A

array([0.0000012 , 0.00000017])

### <a name='8'></a> Ćwiczenie 58
Podana jest poniższa tablica numpy $A$:

```
A = np.random.randn(8, 4)
```
Usuń trzecią kolumnę z tablicy $A$.

__Oczekiwany wynik:__


```
array([[-0.55692881, -0.66003196,  0.70856031],
       [ 0.22378737, -0.19796576, -0.16889332],
       [ 0.26062786,  0.29865445, -0.92259267],
       [-2.40317659,  1.79961876, -1.96495796],
       [ 0.13051561, -1.7085185 ,  0.54885043],
       [ 1.77268727,  0.38751181, -0.05141955],
       [-1.80858596, -0.45075211,  0.15332866],
       [ 1.94218961, -1.93679529, -1.83350954]])
```
__Wskazówka:__ Wykorzystaj funkcję _np.delete()_.

In [ ]:
A = np.random.randn(8, 4)
np.delete(A, 2, axis=1)

array([[ 0.1699729 ,  1.15324519,  0.16608813],
       [-1.02038325, -0.26909444,  0.87782517],
       [-0.43365033, -0.34230864,  1.44433879],
       [ 0.88606356, -0.13707782, -2.17086583],
       [-0.4867145 ,  1.33444564,  0.33070056],
       [-0.01471826,  0.79640543, -1.6646932 ],
       [-0.00619914,  0.40311933, -1.44119576],
       [-0.12291131, -0.07530365,  0.48767327]])

### <a name='9'></a> Ćwiczenie 59
Podana jest tablica jednowymiarowa $v$ (wektor):

```
v = np.array([3, 4, -2])
```
Policz normę wektora $v$.

In [ ]:
v = np.array([3, 4, -2])
np.linalg.norm(v)

5.385164807134504

### <a name='10'></a> Ćwiczenie 60
Poniżej podana jest przykładowa tablica $A$:


```
A = np.random.randint(10, size=(100, 30))
```
Ustaw odopowiednią opcję biblioteki numpy pozwalającą drukować 10 skrajnych elementów. Wydrukuj tablicę $A$.

In [ ]:
A = np.random.randint(10, size=(100, 30))
np.set_printoptions(edgeitems=10)
A

array([[7, 8, 2, 2, 1, 9, 2, 2, 4, 4, ..., 0, 9, 8, 9, 8, 8, 5, 7, 0, 9],
       [3, 0, 7, 0, 2, 3, 7, 5, 9, 6, ..., 5, 2, 2, 8, 6, 4, 9, 6, 8, 0],
       [6, 5, 9, 8, 0, 3, 8, 3, 9, 2, ..., 8, 4, 5, 3, 9, 1, 7, 5, 4, 8],
       [0, 4, 5, 4, 5, 5, 6, 3, 7, 6, ..., 3, 3, 5, 5, 0, 7, 5, 2, 8, 1],
       [7, 9, 2, 4, 5, 9, 5, 3, 2, 3, ..., 5, 1, 7, 9, 4, 6, 9, 1, 7, 1],
       [3, 0, 4, 8, 0, 8, 7, 5, 6, 2, ..., 7, 5, 7, 8, 4, 2, 4, 4, 4, 2],
       [9, 3, 8, 9, 8, 1, 7, 7, 6, 7, ..., 4, 7, 7, 2, 6, 2, 5, 5, 2, 6],
       [2, 7, 9, 3, 0, 3, 6, 3, 5, 8, ..., 0, 5, 5, 3, 7, 3, 7, 7, 4, 3],
       [1, 2, 2, 3, 3, 9, 4, 3, 9, 7, ..., 7, 3, 3, 4, 7, 4, 7, 9, 0, 9],
       [8, 5, 2, 7, 8, 5, 6, 0, 4, 4, ..., 4, 8, 4, 8, 9, 3, 8, 4, 9, 8],
       ...,
       [8, 7, 0, 6, 8, 7, 7, 5, 3, 7, ..., 6, 4, 7, 3, 1, 5, 8, 0, 9, 6],
       [9, 8, 9, 8, 9, 2, 4, 7, 7, 3, ..., 0, 1, 4, 3, 3, 8, 7, 5, 0, 1],
       [5, 1, 9, 4, 4, 5, 5, 5, 1, 9, ..., 7, 9, 8, 4, 8, 1, 2, 6, 6, 5],
       [5, 1, 9, 5, 3, 2, 1, 0, 4, 1, ..., 7, 1, 5, 5, 8, 4, 9, 3, 4, 9],
       [4, 7, 9, 7, 1, 6, 7, 5, 4, 8, ..., 8, 6, 0, 2, 3, 3, 4, 2, 2, 0],
       [6, 9, 0, 1, 3, 3, 4, 1, 3, 0, ..., 4, 9, 0, 0, 5, 1, 7, 8, 3, 4],
       [7, 2, 4, 2, 9, 2, 2, 6, 6, 6, ..., 7, 8, 2, 6, 8, 3, 9, 2, 4, 0],
       [2, 7, 7, 3, 1, 7, 7, 9, 3, 2, ..., 8, 8, 8, 5, 5, 4, 8, 9, 7, 6],
       [6, 5, 4, 3, 2, 2, 5, 3, 5, 2, ..., 5, 3, 6, 7, 5, 4, 5, 4, 7, 0],
       [6, 9, 9, 1, 8, 0, 9, 5, 8, 0, ..., 3, 0, 8, 7, 1, 7, 6, 5, 0, 6]])