In [1]:
import pandas as pd
import numpy as np

In [2]:
mcdonalds=pd.read_csv('./course-files/mcdonalds.csv',usecols=['Category','Item','Calories','TotalFat'])

In [3]:
mcdonalds.head()

    Category                              Item  Calories  TotalFat
0  Breakfast                      Egg McMuffin       300      13.0
1  Breakfast                 Egg White Delight       250       8.0
2  Breakfast                  Sausage McMuffin       370      23.0
3  Breakfast         Sausage McMuffin with Egg       450      28.0
4  Breakfast  Sausage McMuffin with Egg Whites       400      23.0

In [13]:
mcdonalds.to_csv('mc-1.csv',index=False)

In [17]:
mcdonalds.to_csv('mc-2.csv',index=False,quotechar='\"')

In [22]:
mcdonalds.to_csv('mc-3.csv',index=False,quotechar='"',decimal=',')

In [21]:
mcdonalds.to_csv('mc-4.csv',index=False,quotechar='"',decimal=',',sep=';')

In [27]:
mcdonalds.to_csv('mc-5.csv',index=False,quotechar='"',decimal=',',sep=';',columns=['Item','TotalFat'])

In [28]:
mcdonalds.to_json('mc-6.json')

In [15]:
pd.read_csv('mc-1.csv').head()

    Category                              Item  Calories  TotalFat
0  Breakfast                      Egg McMuffin       300      13.0
1  Breakfast                 Egg White Delight       250       8.0
2  Breakfast                  Sausage McMuffin       370      23.0
3  Breakfast         Sausage McMuffin with Egg       450      28.0
4  Breakfast  Sausage McMuffin with Egg Whites       400      23.0

In [18]:
pd.read_csv('mc-2.csv').head()

    Category                              Item  Calories  TotalFat
0  Breakfast                      Egg McMuffin       300      13.0
1  Breakfast                 Egg White Delight       250       8.0
2  Breakfast                  Sausage McMuffin       370      23.0
3  Breakfast         Sausage McMuffin with Egg       450      28.0
4  Breakfast  Sausage McMuffin with Egg Whites       400      23.0

In [23]:
pd.read_csv('mc-3.csv').head()

    Category                              Item  Calories TotalFat
0  Breakfast                      Egg McMuffin       300     13,0
1  Breakfast                 Egg White Delight       250      8,0
2  Breakfast                  Sausage McMuffin       370     23,0
3  Breakfast         Sausage McMuffin with Egg       450     28,0
4  Breakfast  Sausage McMuffin with Egg Whites       400     23,0

In [24]:
pd.read_csv('mc-4.csv',sep=';').head()

    Category                              Item  Calories TotalFat
0  Breakfast                      Egg McMuffin       300     13,0
1  Breakfast                 Egg White Delight       250      8,0
2  Breakfast                  Sausage McMuffin       370     23,0
3  Breakfast         Sausage McMuffin with Egg       450     28,0
4  Breakfast  Sausage McMuffin with Egg Whites       400     23,0

In [29]:
pd.read_csv('mc-5.csv',sep=';').head()

                               Item TotalFat
0                      Egg McMuffin     13,0
1                 Egg White Delight      8,0
2                  Sausage McMuffin     23,0
3         Sausage McMuffin with Egg     28,0
4  Sausage McMuffin with Egg Whites     23,0

In [30]:
pd.read_json('mc-6.csv').head()

    Category                              Item  Calories  TotalFat
0  Breakfast                      Egg McMuffin       300      13.0
1  Breakfast                 Egg White Delight       250       8.0
2  Breakfast                  Sausage McMuffin       370      23.0
3  Breakfast         Sausage McMuffin with Egg       450      28.0
4  Breakfast  Sausage McMuffin with Egg Whites       400      23.0

In [31]:
html=mcdonalds.to_html()

In [33]:
import io
with io.open('mc-7.html','w',encoding='utf-8') as file:
    file.write(html)